* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}

header {
    height: 100px;
    background: linear-gradient(180deg, #000, #012a4a);
    color: #fff;
}

.header {
    display: flex;
    height: 100px;
    max-width: 1140px;
    margin: auto;
    align-items: center;
}

.header--logo {
    width: 100px;
}

.header--logo-img {
    width: 80px;
    height: 80px;
    background-color: #b28456;
}

.header--menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.header--menu ul,
.header--menu li {
    list-style: none;
    margin: 0 1px;
}

.header--menu ul {
    display: flex;
}

.header--menu li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #012a4a;
    height: 100px;
}

.header--menu li a:hover,
.header--menu .active a {
    border-bottom: 5px solid #b28456;
    color: #888;
}

.button {
    display: inline-block;
    background-color: #b28456;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}

.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.banner--sliders {
    width: 1000vw;
    height: 100%;
}

.banner--slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
}

.banner--slide-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.banner--slide-content h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.banner--slide-content span {
    color: #b28456;
}

.banner--slide-content h2 {
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 20px;
}

.banner---pointers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
}

.banner---pointer {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #b28456;
    margin: 0 5px;
    cursor: pointer;
}

.banner---pointer.active {
    background-color: #b28456;
}

.default {
    padding: 50px 0;
}

.default--title,
.default--desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default--title {
    font-size: 20px;
}

.default--desc {
    font-size: 13px;
    color: #bbb;
    margin: 12px 0 40px 0;
}

.default--body {
    margin: auto;
    max-width: 1140px;
}

/*Tema padrão light e dark*/
.default.light {
    background-color: #f7f7f7;
}

.default.light .default--title,
.default.light .default--body {
    color: #000;
}

.default.dark {
    background-color: #000;
}

.default.dark .default--title,
.default.dark .default--body {
    color: #fff;
}








/*CSS ESPECIFICOS*/

.default--aboutus {
    display: flex;
}

.default--aboutus-left {
    flex: 1;
}

.default--aboutus-left p {
    font-size: 15px;
    line-height: 25px;
}

.default--aboutus-right {
    width: 520px;
    text-align: center;
}

.default--aboutus-right img {
    width: 480px;
    box-shadow: 0 5px 10px #333;
}

.default--services {
    display: flex;
}

.default--service {
    flex: 1;
    text-align: center;
    border-left: 1px solid #333;
    padding: 15px;
}

.default--service:last-child {
    border-right: 1px solid #333;
}

.default--service h4 {
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 16px;
}

.default--service p {
    margin-top: 5px;
    font-size: 14px;
    color: #999;
}